[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas-gbq = "*"
google-cloud-bigquery = "*"
python-dotenv = "*"
pandas = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
nbdev = "*"
twine = "*"
nbconvert = "*"

[requires]
python_version = "3.8"

[dev-packages.e1839a8]
path = "."
editable = true
